parameters:
    database_driver:   pdo_mysql
    database_host:     db.catroweb.dev
    database_port:     3306
    database_name:     symfony
    database_user:     root
    database_password: root
    database_server_v: 10.3

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt
    security.acl.permission.map.class: Sonata\AdminBundle\Security\Acl\Permission\AdminPermissionMap
    proxies: []
    jenkins:
        url: http://localhost
        job: "Build"
        token: "token"
        uploadtoken: "secret"

    application_name: Pocket Code
    google_app_id: ~
    google_secret: ~
    google_testuser_mail: ~
    google_testuser_pw: ~
    google_testuser_name: ~
    google_testuser_id: ~

    ldap_host: 'http://ldap.catroweb.dev'
    ldap_port: 8001
    ldap_user: 'cn=admin, dc=example, dc=org'
    ldap_password: secret
    ldap_base_dn: 'ou=users, dc=example, dc=org'
    ldap_group_filter: '(&(&(ObjectClass=groupOfUniqueNames))(uniqueMember=%s))'

    backup_host_name: ~
    backup_host_user: ~
    backup_host_password: ~
    backup_host_directory: ~
    backup_host_resource_directory: ~
    backup_database_name: ~
    backup_database_user: ~
    backup_database_password: ~
    
    jspath: compiled/min/
